.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.team-content-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
}

.team-content-section2 {
  display: block; /* For mobile, stack the content */
  text-align: center;
}

.image-container {
  flex: 1;
  padding: 20px;
  max-width: 400px; /* Restrict max width for desktop view */
}

.mobile-profile {
  margin-bottom: 20px;
}

.profile-image {
  max-width: 90%;
  height: auto; /* Ensures the image maintains aspect ratio */
  display: block;
  margin: 0 auto;
}

.text-container {
  flex: 2;
  padding: 20px;
  max-width: 600px; /* Optional: limit the max width of text container */
}

.left-aligned {
  text-align: left;
}

.highlight {
  font-weight: bold;
}

.read-more-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.read-more-btn:hover {
  background-color: #0056b3;
}

.animations-list {
  list-style-type: none;
  padding-left: 0;
}

.animation-item {
  padding: 5px 0;
}
